H1 {
   color: white;
   font-size: 30px;
   background-color: #36414e;
   width: 740px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 20px;
 }
.explanation {
   color: rgb(77, 77, 77);
   font-size: 15px;
   background-color: white;
   width: 740px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
 }
.popupWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.popupBox {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}
#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}